PUID={{ PUID }}
PGID={{ PGID }}
TZ={{ TZ }}

DATA_DIR={{ DATA_DIR }}
DOCKERCONFIGS_DIR={{ DOCKERCONFIGS_DIR }}
LOCALDOCKER_DIR={{ LOCALDOCKER_DIR }}

VPNPROVIDER={{ VPNPROVIDER }}
VPNUSERID={{ VPNUSERID }}
VPNPASSWORD={{ VPNPASSWORD }}
VPNREGION={{ VPNREGION }}

JDOWNLOADEMAIL={{ JDOWNLOADEMAIL }}
JDOWNLOADPASS={{ JDOWNLOADPASS }}