PUID={{ PUID }}
PGID={{ PGID }}
TZ={{ TZ }}
DATA_DIR={{ DATA_DIR }}
DOCKERCONFIGS_DIR={{ DOCKERCONFIGS_DIR }}
LOCALDOCKER_DIR={{ LOCALDOCKER_DIR }}
NUTRITRACE_JWT_SECRET={{ NUTRITRACE_JWT_SECRET }}
NUTRITRACE_OIDC_ISSUER={{ NUTRITRACE_OIDC_ISSUER }}
NUTRITRACE_OIDC_CLIENT_ID={{ NUTRITRACE_OIDC_CLIENT_ID }}
NUTRITRACE_OIDC_CLIENT_SECRET={{ NUTRITRACE_OIDC_CLIENT_SECRET }}