PUID={{ PUID }}
PGID={{ PGID }}
TZ={{ TZ }}

DATA_DIR={{ DATA_DIR }}
DOCKERCONFIGS_DIR={{ DOCKERCONFIGS_DIR }}
LOCALDOCKER_DIR={{ LOCALDOCKER_DIR }}

STASHIP={{ STASHIP }}
PROSTASHAPIKEY={{ PROSTASHAPIKEY }}
PERSONALSTASHAPIKEY={{ PERSONALSTASHAPIKEY }}