PUID={{ PUID }}
PGID={{ PGID }}
TZ={{ TZ }}

WIREGUARD_SERVERURL={{ WIREGUARD_SERVERURL }}
WIREGUARD_PEERS={{ WIREGUARD_PEERS }}
ADGUARD_IP={{ ADGUARD_IP }}

TAILSCALE_AUTHKEY={{ TAILSCALE_AUTHKEY }}
